<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://api.artic.edu/docs/assets/logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Welcome!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 lh-base">The Art Institute of Chicago (opens new window)'s API provides JSON-formatted data as a REST-style service that allows developers to explore and integrate the museum’s public data into their projects. This API is the same tool that powers our website (opens new window), our mobile app (opens new window), and many other technologies in the museum.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="onExploreArt()">Explore Art</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" (click)="onFavoriteArt()">Favorites Art</button>
      </div>
    </div>
  </div>
